.container{
  background-color: rgb(35, 46, 162);
  height: 100vh;
  display: flex;
  justify-content: center;

}
.login{
  text-align: center;
  background-color: rgb(169, 169, 174);
  padding: 20px;
  width: 250px;
  height: 220px;
  margin-top: 90px;
}
input{
  padding: 5px;
}